<div class="row mt-2">
  <div class="col-8 offset-2">

    <div class="row">
      <div class="col">
        <mat-card class="item">

          <div class="row justify-content-between">
            <div class="col-2 title-vertical">Kosár tartalma</div>
            <div class="col-2 text-right">
              <button mat-button>Összes törlése</button>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-card class="item">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Fekete tea</mat-card-title>
            <mat-card-subtitle>Csing Dong Ding</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              Kinai fekete tea
            </p>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button>Töröl</button>
          </mat-card-actions>

        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-card class="item">Rendelés leadás</mat-card>
      </div>
    </div>

  </div>
</div>
