<div class="row mt-2">
  <div class="col-8 offset-2">

    <div class="row">
      <div class="col">
        <mat-card class="item">

          <div class="row">
            <div class="col-2 col-md-4 col-sm-4 col- title-vertical">Kosár tartalma</div>
            <div class="col-2 col-md-4 col-sm-4 offset-8 offset-sm-3 offset-md-4 text-right">
              <button mat-button>Összes törlése</button>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-card class="item">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Assam CTC Typ Typhoo</mat-card-title>
            <mat-card-subtitle>India</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              Kivételesen erős Assam tea. CTC eljárással készült, apróra tört levelek. Tanninokban gazdag, frissítő, gyümölcsös jegyekkel rendelkező, sötét színű főzet. Fogyasztását tejjel ajánljuk!
            </p>
          </mat-card-content>

          <mat-card-actions class="text-right">
            <button mat-button>Töröl</button>
          </mat-card-actions>

        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-card class="item">Rendelés leadás</mat-card>
      </div>
    </div>

  </div>
</div>
